* {
    margin: 0;
    padding: 0;
    
}

html, body{
    height: 100%;
}

body {
    background: rgb(10,60,85);
    background: linear-gradient(254deg, rgba(10,60,85,1) 0%, rgba(0,54,18,0.9136029411764706) 100%);
    color: rgb(212, 200, 200);
    font-family: 'PT Sans Narrow', sans-serif;
    
}

.foto-principal {
    border-radius: 50%;
    width: 138px; 
    height: 143px;
    border: 0 solid rgb(230, 229, 229);
    box-shadow: 0 0 8px rgb(230, 229, 229);
    margin-top: 33px;
}

.profile {
    text-align: center;
}

.icones-social {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.icones-social img {
    width: 33px; 
    margin: 15px;
   
}
   

h1 {
    margin-top: 8px;
    font-size: 30px;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-weight: 400;
    font-size:15px;
    font-family: 'Raleway', sans-serif;
   
}

h3 {
    margin-top: 8px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(212, 200, 200);
    box-shadow: 0 0 100px gray;
    text-align: center;
    
}

.estilo-letras {
    word-spacing: 20px;
}

.links-list {
    list-style: none;
}

.links-list li a {
    border: 2px solid white;
    padding: 15px 20px;
    display: block;
    border-radius: 8px;
    text-decoration: none;
    color:  rgb(212, 200, 200);
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

.links-list li {
    margin: 10px 30px;
}

.footer {
    margin-top: 40px;
    background-color: rgb(212, 200, 200);
}